extends layouts/base

block title
  | Interaction design consultancy by Peng Zhong

block container

  #home-header
    .cell
      :markdown
        <h1>I build websites for global [clients](./clients). I share my expertise by writing [articles](./expertise) about interaction design and web development. I also maintain open source [tools](https://github.com/nylira) on GitHub.</h1>

  .section
    .section-header
      h2
        | Recent 
        a(href=depth+'articles') Articles
    .body
      ul.blocks.articles
        - for article in articles
          li: a.block(href=depth + article.slug + '/')
            .title!= article.meta.title
            .sub
              .date= moment(article.meta.date).format("YYYY-MM-DD")
      p.bottom
        | Browse through a list of all the articles on this site. 
        a(href=depth+'clients') All Articles

  .section
    .section-header
      h2
        | Recent 
        a(href=depth+'clients') Clients
    .body
      ul.blocks.clients
        - for client in clients
          li: a.block(href=depth + client.slug + '/')
            .title!= client.meta.title
            .sub
              .date= moment(client.meta.date).format("YYYY-MM-DD")

      p.bottom
        | View all of Nylira's clients since 2010 to see my work has evolved over time. 
        a(href=depth+'clients') Projects List

  .section
    .section-header
      h2
        | Get in 
        a(href=depth+'contact') Touch
    .body
      ul.blocks
        li: a.block(href='mailto:peng@nylira.com')
          .title peng@nylira.com
          .sub Email
        li: a.block(href='https://twitter.com/zcpeng')
          .title @zcpeng
          .sub Twitter
        li: a.block(href='https://github.com/nylira')
          .title github.com/nylira
          .sub GitHub
