#header
  .nav
    ul
      li#brand: a(href=depth) Nylira
      li: a(href=depth+'about/') About
      li: a(href=depth+'projects/') Projects
      li: a(href=depth+'articles/') Articles
      li: a(href=depth+'contact/') Contact
