#header
  .nav
    ul
      li#nav-home: a(href=depth) nylira
      li#nav-profile: a(href=depth+'profile/') Profile
      li#nav-projects: a(href=depth+'projects/') Projects
      li#nav-articles: a(href=depth+'articles/') Articles
      li#nav-contact: a(href=depth+'contact/') Contact
