#header
  .wrapper
    a#nav-home(href=depth) Nylira
    nav
      a#nav-about(href=depth+'about/') About
      a#nav-clients(href=depth+'clients/') Clients
      a#nav-expertise(href=depth+'expertise/') Expertise
      a#nav-contact(href=depth+'contact/') Contact
