meta(charset="utf-8")

title
  block title
  |  - Nylira

meta(name="viewport" content="width=device-width, initial-scale=1.0")
meta(name="description" content="")
meta(name="keywords" content="")
meta(name="author" content="Peng Zhong")
meta(name="google-site-verification" content="dNkvEdCJ_ySdQ7k0B08Q0U36k6qWecsrcu5SoWw39k0")
meta(name="p:domain_verify" content="0fa3efb06ef5537a031f9c75d44c6ba2")

link(rel="stylesheet", href= depth + "assets/css/screen.css")

link(rel="apple-touch-icon-precomposed" sizes="144x144" href=depth+"assets/images/favicon.png")
link(rel="apple-touch-icon-precomposed" sizes="114x114" href=depth+"assets/images/favicon.png")
link(rel="apple-touch-icon-precomposed" sizes="72x72" href=depth+"assets/images/favicon.png")
link(rel="apple-touch-icon-precomposed" href=depth+"assets/images/favicon.png")

link(rel="shortcut icon" href=depth+"assets/images/favicon.png")
link(rel="icon" href=depth+"assets/images/favicon.png")
