#header
  .wrapper
    .nav
      ul
        li#nav-home: a(href=depth) Nylira
        li#nav-projects: a(href=depth+'clients/') Clients
        li#nav-articles: a(href=depth+'expertise/') Expertise
        li#nav-about: a(href=depth+'about/') About
        li#nav-contact: a(href=depth+'contact/') Contact
